.pagination .selected {
    background-color: blue;
}

.pagination button {
    margin-right: 10px;
    width: 90px;
    height: 41px;
    position: relative;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    outline: none;
    border: none;
    background-color: #00e2bd;
    transition: all 0.2s ease;

}

.pagination button:hover {
    transform: scale(0.96);
}

.pagination button:before,
.pagination button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.pagination button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #00e2bd 20%, transparent 30%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00e2bd 15%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: topBubbles 1s ease;
  }

  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  .pagination button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00e2bd 15%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%),
      radial-gradient(circle, #00e2bd 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: bottomBubbles 1s ease;
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  
.input2 {
  width: 500px;
  height: 40px;
  font-size: 16px;
  color: black;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  transition: 0.4s;
}
.input2:focus {
  outline: none;
  box-shadow: 0 0 0 0.15vw #5f03f4;
}
