
.card3 {
    width: 380px;
    height: 650px;
    /* padding:10px; */
    padding-top: 30px;
    padding-bottom: 10px;
    color: black;
    text-align: center;
    background-color: #f5f5f57f;
    font-family: "Inter", sans-serif;
    box-shadow:  0px 0px 1px;
  }
  
  .card3-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card3-description {
    margin-top: 20px;
    font-size: 14px;
    color: rgb(75 85 99);
  }
  
  .card3-actions {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .card3-accept,
  .card3-manage {
    font-size: 14px;
    color: #fff;
    margin: 4px;
    padding: 8px 5px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #5f03f4, #2b2bff, #3838ff, #5f03f4);
  }
  
  .card3-accept:hover,
  .card3-manage:hover {
    box-shadow: 0px 0px 15px 0px #3838ff;
  }

  
.button31 {
    width: 160px;
    height: 60px;
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #00e2bd;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    border: none;
}
.button31:before {
    transition: 1s;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #00e2bd;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.button31:hover:before {
    width: 300px;
    height: 300px;
    opacity: 0.4;
    transition: all 0.5s ease-out;
}
.button31:hover {
    background-color: #00e2bd;
    transition: all 0.5s ease-out;
}
.button31:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgb(29, 29, 29);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
      width: 0;
      height: 0;
      opacity: 0.5;
    }
  
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
}


.button21 {
    width: 107px;
    height: 35px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* border: 2px solid #0c0c0c; */
    border-radius: 12px;
    position: relative;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); */
    transition: 0.3s ease all;
    z-index: 1;
    background-color: #23c0e9;
}
.button21:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #3838ff;
    z-index: -1;
    border-radius: 7px;
}
.button21:hover {
    color: #fff;
}
.button21:hover:before,
.button21:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.button21:active {
    transform: scale(0.9);
}
  